@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #fcfcfc;
  color: #5f6775;
}

body.dark {
  background-color: #202025;
  color: #fcfcfc;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 489.5px) {
  .container {
    max-width: 489.5px;
  }
}
@media screen and (min-width: 490px) {
  .container {
    width: 490px;
  }
}
@media screen and (min-width: 745px) {
  .container {
    width: 745px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 15px;
    width: 1280px;
  }
}

.is-hidden {
  display: none;
}

.spinner {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fd5103;
  border-color: #fd5103 transparent #fd5103 transparent;
  -webkit-animation: spinnerAnimation 900ms linear infinite;
          animation: spinnerAnimation 900ms linear infinite;
}

@-webkit-keyframes spinnerAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinnerAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.logo_image {
  height: 43px;
  width: 156px;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.signup__btn {
  border: none;
  background-color: #fcfcfc;
}
body.dark .signup__btn {
  background-color: #202025;
}

.signup-greeting {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.signup-greeting.is-open {
  opacity: 1;
  visibility: inherit;
  border-radius: 4px;
  flex-direction: column;
  display: flex;
  padding: 5px;
  background-color: #fcfcfc;
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
body.dark .signup-greeting.is-open {
  background-color: #202025;
}

.signup-greeting__text {
  padding-bottom: 5px;
}

.signup-greeting__logout {
  border-radius: 4px;
  background-color: #fcfcfc;
  color: #fd5103;
  border-color: #fd5103;
  padding: 3px;
}
body.dark .signup-greeting__logout {
  background-color: #202025;
  color: #fd5103;
}

.signup-greeting__logout:hover {
  background-color: #fd5103;
  color: #fcfcfc;
  border-color: #fd5103;
}

.header-switcher {
  align-items: center;
  gap: 10px;
  display: flex;
}
.header-switcher__item-light {
  color: #fd5103;
  font-size: 18px;
  line-height: 24px;
}
body.dark .header-switcher__item-light {
  color: #fcfcfc;
}
.header-switcher__item-dark {
  font-size: 18px;
  line-height: 24px;
  color: #5f6775;
}
body.dark .header-switcher__item-dark {
  color: #fd5103;
}
.header-switcher__switch {
  width: 40px;
  height: 20px;
  display: inline-block;
  position: relative;
}
.header-switcher__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.header-switcher__input:checked + .header-switcher__slider {
  background-color: #fd5103;
  border: 1px solid #fcfcfc;
  border-radius: 20px;
}

.header-switcher__input:checked + .header-switcher__slider:before {
  background-color: #fcfcfc;
  transform: translate(20px);
}

.header-switcher__input:checked .header-switcher__item-dark {
  color: #fcfcfc;
}

.header-switcher__slider.round {
  width: 40px;
  height: 20px;
  background-color: #fcfcfc;
  border: 1px solid #fd5103;
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
}

.header-switcher__slider.round::before {
  width: 12px;
  height: 12px;
  background-color: #fd5103;
  border-radius: 50%;
}

.header-switcher__slider::before {
  content: "";
  height: 26px;
  width: 26px;
  background-color: #fcfcfc;
  transition: all 0.4s;
  position: absolute;
  bottom: 3px;
  left: 2px;
}

.form-submit {
  width: 100%;
  max-width: 288px;
  height: 40px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  transition-property: outline;
  transition-duration: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px;
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.form-submit__input {
  max-width: 247px;
  border: none;
  background-color: #fcfcfc;
  transition-duration: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
body.dark .form-submit__input {
  background-color: #202025;
}
.form-submit__button {
  padding: 0%;
  border: none;
  background-color: #fcfcfc;
  padding-right: 8px;
  display: flex;
  align-items: center;
}
body.dark .form-submit__button {
  background-color: #202025;
}
.form-submit__input {
  height: 24px;
  width: 100%;
  font-size: 14px;
  color: #5F6775;
  padding-left: 8px;
}

.form-submit__input:focus {
  outline: 0;
  outline-offset: 0;
}

.line {
  width: 1px;
  height: 40px;
  background-color: #fd5103;
}

input::-moz-placeholder {
  font-size: 14px;
  color: #5F6775;
}

input:-ms-input-placeholder {
  font-size: 14px;
  color: #5F6775;
}

input::placeholder {
  font-size: 14px;
  color: #5F6775;
}

.mobile-menu__burger-btn {
  background-color: var(--white-bg-color);
  border: 0;
  padding: 0;
  line-height: 0;
  display: block;
  transition-duration: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 5px;
}
body.dark .mobile-menu__burger-btn {
  fill: #fcfcfc;
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  z-index: 8;
  padding: 20px 20px;
  padding-top: 22px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fcfcfc;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
body.dark .mobile-menu.is-open {
  background-color: #202025;
}
.mobile-menu__close-btn {
  z-index: 9;
  width: 47px;
  height: 39px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: block;
  position: absolute;
  top: 24px;
  right: 16px;
}
body.dark .mobile-menu {
  fill: #fcfcfc;
}

.header_logo-mobile {
  display: block;
  position: absolute;
  left: 20px;
}

.site-nav__favorites.mobile {
  visibility: hidden;
  opacity: 0;
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__favorites-mobile.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  background-color: #fcfcfc;
}
body.dark .site-nav__favorites-mobile.is-open {
  background-color: #202025;
  border: 1px solid #fcfcfc;
}

.site-nav__favorites.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.site-nav__favorites.mobile {
  z-index: 2;
  min-width: 213px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  bottom: 0;
}

.site-nav-mobile__item {
  padding-bottom: 15px;
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__item-menu {
  padding: 15px;
}

.site-nav__item-menu:active {
  background-color: #fd5103;
}

.site-nav__item-menu:active .site-nav__link-menu {
  color: #fcfcfc;
}
body.dark .site-nav__item-menu:active .site-nav__link-menu {
  color: #202025;
}

.site-nav__link-menu {
  color: #000000;
}
body.dark .site-nav__link-menu {
  color: #fcfcfc;
}

.site-nav-mobile {
  flex-direction: column;
  display: flex;
  position: relative;
}

@media screen and (max-width: 745px) {
  .header_logo {
    margin-right: 125px;
  }
  .logo_image {
    height: 34px;
    width: 123px;
  }
  .header-switcher {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header_logo-mobile {
    display: none;
  }
  .signup {
    margin-bottom: -15px;
  }
  .form-submit {
    display: none;
  }
  .header-switcher.mobile {
    padding-bottom: 44px;
  }
  .mobile-menu {
    display: flex;
    align-items: flex-start;
    padding-top: 27px;
  }
  .form-submit.mobile {
    margin-bottom: 40px;
  }
  .site-nav-mobile__link,
.site-nav-mobile__item {
    font-size: 28px;
    font-weight: 400;
    color: #000000;
  }
  body.dark .site-nav-mobile__link,
body.dark .site-nav-mobile__item {
    color: #fcfcfc;
  }
  .site-nav-mobile__item {
    margin-top: 32px;
  }
  .site-nav-mobile__arrow {
    align-items: inherit;
  }
  body.dark .site-nav-mobile__arrow {
    fill: #fcfcfc;
  }
  .header-switcher.mobile {
    display: flex;
  }
  .form-submit.mobile {
    display: flex;
  }
}
@media screen and (min-width: 745px) {
  .mobile-menu {
    width: 100vw;
    height: 100vh;
  }
  .logo_image {
    height: 43px;
    width: 156px;
  }
  .page-header__container {
    align-items: center;
    position: relative;
    padding-left: 32px;
    padding-right: 32px;
  }
  .form-submit {
    margin-top: 11px;
  }
  .signup__btn {
    margin-top: 14px;
  }
  .signup {
    margin-bottom: 0px;
  }
  .mobile-menu__open-icon {
    margin-top: 11px;
  }
  .header__nav {
    display: none;
  }
  .header_logo {
    margin-right: 83px;
  }
  .signup__btn {
    margin-right: 40px;
  }
  .mobile-menu {
    padding-top: 22px;
  }
  .header-switcher.mobile {
    display: flex;
    padding-top: 15px;
    margin-left: -136px;
    margin-bottom: 54px;
  }
  .site-nav-mobile__link,
.site-nav-mobile__item {
    font-size: 28px;
    font-weight: 400;
    color: #000000;
  }
  body.dark .site-nav-mobile__link,
body.dark .site-nav-mobile__item {
    color: #fcfcfc;
  }
  .site-nav-mobile__item {
    margin-top: 32px;
  }
  .form-submit.mobile {
    display: none;
  }
  .header-switcher {
    display: none;
  }
  .site-nav-mobile {
    visibility: visible;
  }
  body.dark .site-nav-mobile__arrow {
    fill: #fcfcfc;
  }
}
@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
  .site-nav__favorites {
    display: none;
  }
  .mobile-menu__burger {
    display: none;
  }
  .form-submit {
    margin-right: 90px;
    margin-bottom: -5px;
  }
  .header_logo {
    margin-right: 90px;
  }
  .page-header__container {
    padding-left: 16px;
    padding-right: 16px;
    align-items: flex-end;
    position: relative;
    justify-content: space-around;
  }
  .form-submit {
    margin-top: 0px;
  }
  .signup__btn {
    margin-top: 0px;
  }
  .mobile-menu__open-icon {
    margin-top: 0px;
  }
  .signup__btn--desktop {
    margin-right: 42px;
  }
  .header__nav {
    display: flex;
    gap: 60px;
    color: #202025;
    margin-right: 191px;
  }
  .site-nav__link {
    color: #202025;
    font-size: 18px;
    transition-duration: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  body.dark .site-nav__link {
    color: #fcfcfc;
  }
  .site-nav__favorites {
    visibility: hidden;
    opacity: 0;
  }
  .site-nav__favorites.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    background-color: #fcfcfc;
  }
  body.dark .site-nav__favorites.is-open {
    background-color: #202025;
  }
  .site-nav__item {
    cursor: pointer;
    font-size: 18px;
    transition-duration: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  body.dark .site-nav__item {
    color: #fcfcfc;
  }
  .site-nav__link:hover {
    color: #fd5103;
    transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__item:hover {
    color: #fd5103;
    transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-switcher {
    display: flex;
    margin-bottom: 10px;
  }
  .site-nav__favorites {
    display: flex;
  }
  .site-nav__favorites {
    z-index: 2;
    min-width: 213px;
    border: 1px solid #fd5103;
    border-radius: 4px;
    position: absolute;
    transform: translate(50%, 30%);
    flex-direction: column;
    transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  body.dark .site-nav__favorites {
    border: 1px solid #fcfcfc;
  }
  .site-nav__item-menu {
    padding: 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }
  .site-nav__item-menu:hover {
    background-color: #fd5103;
    transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link-menu {
    color: #000000;
  }
  body.dark .site-nav__link-menu {
    color: #fcfcfc;
  }
  .site-nav__item-menu:hover .site-nav__link-menu {
    color: #fcfcfc;
    transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  body.dark .site-nav__item-menu:hover .site-nav__link-menu {
    color: #202025;
  }
  .header-switcher {
    padding-top: 0px;
  }
  .header_logo {
    margin-right: 43px;
  }
}
.hero {
  width: 100%;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  max-width: 688px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.91;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  color: #fd5103;
  width: 300px;
}
@media screen and (min-width: 490px) {
  .hero__title {
    width: 300px;
  }
}
@media screen and (min-width: 745px) {
  .hero__title {
    width: 336px;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.62;
    margin-bottom: 40px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 688px;
    font-weight: 600;
    font-size: 52px;
    line-height: 1.54;
  }
}

.hero__txt {
  max-width: 607px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  opacity: 0.8;
}
@media screen and (min-width: 490px) {
  .hero__txt {
    width: 280px;
  }
}
@media screen and (min-width: 745px) {
  .hero__txt {
    width: 324px;
    margin-bottom: 40px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__txt {
    width: 607px;
    font-size: 18px;
    line-height: 1.56;
  }
}

.hero__keyboard {
  position: relative;
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 30px;
}
@media screen and (min-width: 745px) {
  .hero__keyboard {
    padding-top: 102px;
    padding-bottom: 164px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__keyboard {
    padding-top: 67px;
  }
}
@media screen and (min-width: 745px) {
  .hero__keyboard {
    padding-top: 102px;
    padding-bottom: 164px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__keyboard {
    padding-top: 67px;
  }
}

.hero__img {
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 745px) {
  .hero__img {
    position: absolute;
    top: 77;
    right: 0;
    z-index: 5;
  }
}
@media screen and (min-width: 1280px) {
  .hero__img {
    top: 7px;
    right: 0;
  }
}

.keyboard__list {
  display: none;
}
@media screen and (min-width: 745px) {
  .keyboard__list {
    display: inline-block;
  }
}
@media screen and (min-width: 745px) {
  .keyboard__list .keyboard__list {
    display: inline-block;
  }
}
.keyboard__list .keyboard--item {
  color: #5f6775;
}
@media screen and (min-width: 745px) {
  .keyboard__list .keyboard--item {
    width: 24px;
    height: 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  .keyboard__list .keyboard--item {
    width: 40px;
    height: 40px;
    font-weight: 700;
    font-size: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .keyboard__list {
    font-weight: 700;
    font-size: 24px;
  }
}

.keyboard--itemletter {
  color: #5f6775;
  cursor: pointer;
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.keyboard--itemletter:hover,
.keyboard--itemletter:focus,
.keyboard--itemletter:active {
  color: #fd5103;
  text-shadow: 0px 4px 4px rgba(95, 103, 117, 0.25);
  -webkit-text-stroke: 1px #5f6775;
}

.first--line,
.second--line,
.third--line {
  display: block;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1px;
}

.keyboard__cstm-select {
  width: 300px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media screen and (min-width: 745px) {
  .keyboard__cstm-select {
    display: none;
  }
}

.keyboard__cstm-select[open] {
  z-index: 1;
}

.keyboard__cstm-summary {
  width: 93px;
  height: 34px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  cursor: pointer;
  border: 1px solid #fd5103;
  border-radius: 4px;
  background-color: transparent;
  list-style: none;
}

.keyboard__cstm-summary::-webkit-details-marker {
  display: none;
}

.keyboard__cstm-select[open] .keyboard__cstm-summary:before {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

.keyboard__cstm-summary:after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-bottom: 1px solid #fd5103;
  border-left: 1px solid #fd5103;
  border-bottom-left-radius: 2px;
  transform: rotate(-45deg) translate(50%, 0%);
  margin-top: 15px;
  margin-bottom: 13px;
  margin-right: 16px;
  margin-left: 14px;
}

.keyboard__cstm-summary--active:after {
  border-bottom: 1px solid #fcfcfc;
  border-left: 1px solid #fcfcfc;
}

.keyboard__cstm-summary--active {
  outline: none;
  background-color: #fd5103;
  color: #fcfcfc;
}

.select-item {
  margin: 0;
}

/*SELECT */
.keyboard__cstm-summary.radios {
  counter-reset: radios;
}

.keyboard__cstm-summary.radios:before {
  content: var(--selection);
}

.keyboard__cstm-input[type=radio] {
  counter-increment: radios;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
  color: #fd5103;
}

.keyboard__cstm-input--active[type=radio] {
  color: #fcfcfc;
}

.keyboard__cstm-input[type=radio]:checked {
  display: inline;
  display: block;
}

.keyboard__cstm-input[type=radio]:after {
  content: attr(title);
  padding-left: 7px;
  display: block;
  font-weight: 700;
  font-size: 16px;
}

.keyboard__cstm-select_list {
  counter-reset: labels;
  width: 93px;
  height: 84px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  padding: 0;
  margin: 0;
  border: 1px solid #fd5103;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
}

.keyboard__cstm-select_label {
  font-weight: 700;
  width: 100%;
  padding: 7px 10px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  font-size: 10px;
  color: #5f6775;
}

.keyboard__cstm-select_list::-webkit-scrollbar {
  width: 5px;
}

.keyboard__cstm-select_list::-webkit-scrollbar-thumb {
  background: #5f6775;
  border-radius: 2px;
}

.products {
  text-align: center;
  padding-top: 40px;
}
.products__title {
  margin-bottom: 60px;
  color: #202025;
  font-size: 22px;
  line-height: 1.9090909091;
  font-weight: 600;
}
@media screen and (min-width: 745px) {
  .products__title {
    font-family: "Roboto";
    font-size: 32px;
    line-height: 1.3125;
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .products__title {
    font-family: "Poppins";
    font-size: 48px;
    line-height: 1.5;
    font-weight: 700;
  }
}
.products__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}
@media screen and (min-width: 745px) {
  .products__list {
    gap: 32px;
  }
}
.products__item {
  border: 1px solid #fd5103;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media screen and (min-width: 745px) {
  .products__item {
    width: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .products__item {
    width: calc((100% - 64px) / 3);
  }
}
.products__item:nth-child(odd) {
  -webkit-animation: fadeInRight;
          animation: fadeInRight;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
}
.products__item:nth-child(even) {
  -webkit-animation: fadeInLeft;
          animation: fadeInLeft;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
}
.products__img {
  margin-bottom: 48px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 745px) {
  .products__img {
    margin-bottom: 20px;
  }
}
.products__card-title {
  margin-bottom: 16px;
  color: #202025;
  font-family: "Roboto";
  font-size: 26px;
  line-height: 1.6153846154;
  font-weight: 900;
}
@media screen and (min-width: 745px) {
  .products {
    margin-bottom: 23px;
    font-size: 28px;
    line-height: 1.1785714286;
    font-weight: 900;
  }
}
@media screen and (min-width: 1280px) {
  .products {
    margin-bottom: 27px;
    font-size: 32px;
    line-height: 1.1875;
    font-weight: 900;
  }
}
.products__card-btns {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;
}
@media screen and (min-width: 745px) {
  .products {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .products {
    margin-bottom: 28px;
  }
}

.products__card-btns--learn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fcfcfc;
  min-width: 108px;
  min-height: 39px;
  border: none;
  background-color: #fe7031;
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7142857143;
  font-weight: 400;
  letter-spacing: 0.02em;
  transition: filter 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__card-btns--learn:hover, .products__card-btns--learn:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 400px) {
  .products__card-btns--learn {
    width: 160px;
    height: 48px;
  }
}
@media screen and (min-width: 745px) {
  .products__card-btns--learn {
    width: 160px;
    height: 48px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
  }
}
@media screen and (min-width: 1280px) {
  .products__card-btns--learn {
    width: 182px;
    height: 48px;
  }
}

.products__card-btns--add {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 16px;
  min-width: 108px;
  min-height: 39px;
  text-align: start;
  border: 1px solid #fd5103;
  border-radius: 4px;
  color: #fd5103;
  background: #fcfcfc;
  font-family: "Roboto";
  transition: filter 350ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 1.7142857143;
  font-weight: 400;
}
.products__card-btns--add:hover, .products__card-btns--add:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 400px) {
  .products__card-btns--add {
    width: 123px;
    height: 48px;
  }
}
@media screen and (min-width: 745px) {
  .products__card-btns--add {
    width: 123px;
    height: 48px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
  }
}
@media screen and (min-width: 1280px) {
  .products__card-btns--add {
    width: 141px;
    height: 48px;
  }
}

.btn__svg {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10%;
}

.not-found {
  margin: 0 auto;
}

.products__notFoundImage {
  margin: 0 auto;
}

body.dark .cocktails-modal {
  background-color: #202025;
}
@media screen and (min-width: 745px) {
  body.dark .cocktails-modal__header {
    border-bottom: 1px solid #202025;
  }
}
body.dark .cocktails-modal__btn-icon {
  fill: #fcfcfc;
}
body.dark .cocktails-modal__btn-icon:hover, body.dark .cocktails-modal__btn-icon:focus {
  fill: #fd5103;
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
body.dark .cocktails-modal__title {
  color: inherit;
}
body.dark .cocktails-modal__subtitle {
  color: inherit;
}
body.dark .cocktails-modal__text-modification {
  color: inherit;
}
body.dark .cocktails-modal__list-title {
  color: inherit;
}
body.dark .cocktails-modal__list-subtitle {
  color: inherit;
}
body.dark .cocktails-modal__list-item::before {
  content: "✶ ";
  color: #fcfcfc;
}
body.dark .cocktails-modal__list-item:hover::before {
  color: #fd5103;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
body.dark .cocktails-modal__list-item-ingr::before {
  content: "✶ ";
  color: #fcfcfc;
}
body.dark .cocktails-modal__main-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.505);
  background-color: #fcfcfc;
  color: #fd5103;
}

div.basicLightbox {
  overflow-y: auto;
  align-items: flex-start;
  scroll-behavior: smooth;
}
@media screen and (min-width: 745px) {
  div.basicLightbox {
    align-items: center;
  }
}

.cocktails-modal {
  background-color: #fcfcfc;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 489.5px) {
  .cocktails-modal {
    min-width: 320px;
  }
}
@media screen and (min-width: 490px) {
  .cocktails-modal {
    width: 480px;
  }
}
@media screen and (min-width: 745px) {
  .cocktails-modal {
    width: 822px;
  }
}
@media screen and (min-width: 745px) {
  .cocktails-modal--padding {
    padding: 40px 38.5px 28px;
  }
}
@media screen and (min-width: 745px) {
  .cocktails-modal--size {
    width: 715px;
  }
}
@media screen and (max-width: 744.5px) {
  .cocktails-modal {
    padding: 40px 20px;
  }
}
@media screen and (min-width: 745px) {
  .cocktails-modal__header {
    padding: 40px 28px 0 28px;
    border-bottom: 1px solid #fd5103;
  }
}
@media screen and (min-width: 745px) {
  .cocktails-modal__body {
    padding: 28px;
  }
}
.cocktails-modal__close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
@media screen and (min-width: 745px) {
  .cocktails-modal__close-btn {
    top: 22px;
    right: 35px;
  }
}
.cocktails-modal__btn-icon {
  fill: #202025;
}
.cocktails-modal__btn-icon:hover, .cocktails-modal__btn-icon:focus {
  fill: #fd5103;
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cocktails-modal__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.2;
  color: #202025;
  margin-bottom: 20px;
}
@media screen and (min-width: 745px) {
  .cocktails-modal__title {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 745px) {
  .cocktails-modal__content-wrapper {
    display: none;
  }
}
.cocktails-modal__content-second-wrapper {
  display: none;
}
@media screen and (min-width: 745px) {
  .cocktails-modal__content-second-wrapper {
    display: block;
  }
}
@media screen and (min-width: 745px) {
  .cocktails-modal__list-wrapper {
    margin-left: 281.5px;
  }
}
.cocktails-modal__subtitle {
  font-weight: 600;
  line-height: 1.63;
  margin-bottom: 20px;
  color: #202025;
  text-transform: uppercase;
}
@media screen and (min-width: 745px) {
  .cocktails-modal__subtitle {
    margin-bottom: 28px;
  }
}
.cocktails-modal__text-content {
  line-height: 1.75;
  margin-bottom: 32px;
}
@media screen and (min-width: 745px) {
  .cocktails-modal__text-content {
    margin-bottom: 40px;
    padding-right: 5px;
    width: 615px;
    height: 90px;
    overflow-y: scroll;
  }
  .cocktails-modal__text-content::-webkit-scrollbar {
    width: 3px;
    transform: translateX(-5px);
  }
  .cocktails-modal__text-content::-webkit-scrollbar-thumb {
    background-color: #fd5103;
    border-radius: 10px;
  }
}
.cocktails-modal__text-content--font {
  margin-bottom: 28px;
}
@media screen and (min-width: 745px) {
  .cocktails-modal__text-content--font {
    margin-bottom: 28px;
    padding-right: 5px;
    width: 100%;
    height: 140px;
    overflow-y: scroll;
  }
  .cocktails-modal__text-content--font::-webkit-scrollbar {
    width: 3px;
    transform: translateX(-5px);
  }
  .cocktails-modal__text-content--font::-webkit-scrollbar-thumb {
    background-color: #fd5103;
    border-radius: 10px;
  }
}
.cocktails-modal__text-modification {
  color: #202025;
  font-weight: 600;
}
.cocktails-modal__thumb {
  min-height: 280px;
  margin-bottom: 22px;
}
@media screen and (min-width: 745px) {
  .cocktails-modal__thumb {
    height: 320px;
    width: 288px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.cocktails-modal__thumb-img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.cocktails-modal__list-title {
  font-weight: 600;
  line-height: 1.5;
  color: #000917;
  margin-bottom: 8px;
}
.cocktails-modal__list-subtitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #202025;
  margin-bottom: 8px;
}
.cocktails-modal__list {
  font-size: 16px;
  line-height: 1.63;
  margin-bottom: 32px;
  list-style: none;
}
@media screen and (min-width: 745px) {
  .cocktails-modal__list {
    height: 154px;
    width: 210px;
    margin-bottom: 28px;
    overflow-y: scroll;
  }
  .cocktails-modal__list::-webkit-scrollbar {
    width: 3px;
    transform: translateX(-5px);
  }
  .cocktails-modal__list::-webkit-scrollbar-thumb {
    background-color: #fd5103;
    border-radius: 10px;
  }
}
@media screen and (min-width: 745px) {
  .cocktails-modal__list--size {
    height: 100%;
    width: 100%;
    margin-bottom: 40px;
    overflow: visible;
  }
}
.cocktails-modal__list-item, .cocktails-modal__list-item-ingr {
  line-height: 1.6;
}
.cocktails-modal__list-item::before, .cocktails-modal__list-item-ingr::before {
  content: "✶ ";
  color: #000917;
}
.cocktails-modal__list-link {
  color: inherit;
}
.cocktails-modal__list-item:hover::before, .cocktails-modal__list-item:hover {
  color: #fd5103;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cocktails-modal__main-btn {
  padding: 12px 24px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: #fd5103;
  color: #fcfcfc;
  border-radius: 4px;
  border: transparent;
  outline: none;
  cursor: pointer;
}
.cocktails-modal__main-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fe7031;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 745px) {
  .cocktails-modal__main-btn {
    display: block;
    margin-left: auto;
  }
}

footer {
  height: 110px;
  background-color: #fd5103;
}

.fav-ingredients {
  text-align: center;
  padding-top: 40px;
}
.fav-ingredients__title {
  margin-bottom: 60px;
  color: #202025;
  font-size: 22px;
  line-height: 1.9090909091;
  font-weight: 600;
}
@media screen and (min-width: 745px) {
  .fav-ingredients__title {
    font-family: "Roboto";
    font-size: 32px;
    line-height: 1.3125;
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .fav-ingredients__title {
    font-family: "Poppins";
    font-size: 48px;
    line-height: 1.5;
    font-weight: 700;
  }
}
.fav-ingredients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}
@media screen and (min-width: 745px) {
  .fav-ingredients__list {
    gap: 32px;
  }
}
.fav-ingredients__item {
  padding: 20px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  text-align: start;
}
@media screen and (min-width: 745px) {
  .fav-ingredients__item {
    width: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .fav-ingredients__item {
    width: calc((100% - 64px) / 3);
  }
}
.fav-ingredients__item:nth-child(odd) {
  -webkit-animation: fadeInRight;
          animation: fadeInRight;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
}
.fav-ingredients__item:nth-child(even) {
  -webkit-animation: fadeInLeft;
          animation: fadeInLeft;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
}
.fav-ingredients__card-title {
  margin-bottom: 16px;
  color: #202025;
  font-family: "Roboto";
  font-size: 26px;
  line-height: 1.6153846154;
  font-weight: 900;
}
@media screen and (min-width: 745px) {
  .fav-ingredients {
    margin-bottom: 23px;
    font-size: 28px;
    line-height: 1.1785714286;
    font-weight: 900;
  }
}
@media screen and (min-width: 1280px) {
  .fav-ingredients {
    margin-bottom: 27px;
    font-size: 32px;
    line-height: 1.1875;
    font-weight: 900;
  }
}
.fav-ingredients__desc {
  margin-bottom: 20px;
  color: #202025;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
}
@media screen and (min-width: 745px) {
  .fav-ingredients__desc {
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
  }
}
.fav-ingredients__btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
@media screen and (min-width: 745px) {
  .fav-ingredients {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .fav-ingredients {
    margin-bottom: 28px;
  }
}

.fav-notFound__box {
  margin: 0 auto;
}

.fav-notFound__message {
  font-family: "Poppins";
  width: 240px;
  font-size: 20px;
  line-height: 3;
  font-weight: 400;
}
@media screen and (min-width: 745px) {
  .fav-notFound__message {
    font-size: 24px;
    line-height: 2.5;
    font-weight: 400;
    width: 296px;
  }
}
@media screen and (min-width: 1280px) {
  .fav-notFound__message {
    width: 385px;
    font-size: 32px;
    line-height: 2.25;
    font-weight: 400;
  }
}

.fav-height {
  min-height: calc(100vh - 424px);
}/*# sourceMappingURL=index.css.map */