// colors
$dark-bg-color: #202025;
$white-bg-color: #fcfcfc;
$accent-color: #fd5103;
$primary-dark-text-color: #5f6775;
$secondary-dark-text-color: #202025;
$hover-text-color: #fe7031;
$orange-btn-color: #fe7031;
$primary-white-text-color: #bdbdbd;
$secondary-white-text-color: #fcfcfc;
$secondary-dark-color:#000917;

//breakpoints
$mobile: 480px;
$tablet: 735px;
$desktop: 1280px;

$to-mobile: 479.5px;
$to-tablet: 734.5px;
$to-desktop: 1279.5px;

// animation
$animation: 350ms cubic-bezier(0.4, 0, 0.2, 1);
