<section class="fav-ingredients">
  <div class="container">
    <h2 class="fav-ingredients__title">Favorite ingredients</h2>
    <ul class="fav-ingredients__list">
      <li class="fav-ingredients__item">
        <h3 class="fav-ingredients__card-title">H3</h3>
        <p class="fav-ingredients__desc">test</p>
        <div class="fav-ingredients__btns">
          <button class="btn__learn">Learn more</button>
          <button class="btn__add">
            Remove
            <svg class="btn__svg" width="18" height="18">
              <use href="./images/svgs.svg#heart-full"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="fav-ingredients__item">
        <h3 class="fav-ingredients__card-title">H3</h3>
        <p class="fav-ingredients__desc">test</p>
        <div class="fav-ingredients__btns">
          <button class="btn__learn">Learn more</button>
          <button class="btn__add">
            Remove
            <svg class="btn__svg" width="18" height="18">
              <use href="./images/svgs.svg#heart-full"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="fav-ingredients__item">
        <h3 class="fav-ingredients__card-title">H3</h3>
        <p class="fav-ingredients__desc">test</p>
        <div class="fav-ingredients__btns">
          <button type="button" class="btn__learn">Learn more</button>
          <button type="button" class="btn__add">
            Remove
            <svg class="btn__svg" width="18" height="18">
              <use href="./images/svgs.svg#heart-full"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
