<header class="page-header">

    <div class="container page-header__container">       
            <a href="./index.html" class="header_logo">
                <img src="/src/images/logo.png" alt="logo" class="logo_image">
            </a>

        <nav class="header__nav">
                <ul class="site-nav list">
                    <li class="site-nav__item"><a href="/src/index.html" class="site-nav__link">Home</a></li>
                    <li class="site-nav__item">Favorite
                       <ul class="site-nav__favorites is-hidden nav__links">
                           <li class="site-nav__item"><a href="" class="site-nav__link">Favorite cocktails</a></li>
                           <li class="site-nav__item"><a href="" class="site-nav__link">Favorite ingredients</a></li>
                      </ul>
                    </li>
                </ul>
        </nav>

        <form class = "form-submit">
            <button class="form-submit__button" type="submit">
                    <svg class="logo__svg" width="24px" height="24px">
                        <use href="/src/images/svgs.svg#icon-bx_search"></use>
                    </svg>
            </button>
            <div class="line"></div>
            <input class="form-submit__input" type="text" placeholder="Search">
            
        </form>


        <div class="header-switcher">
            <span class="header-switcher__item-light">Light</span>
            <label class="header-switcher__switch">
                <input type="checkbox">
                <span class="header-switcher__slider round"></span>
            </label>
            <span class="header-switcher__item-dark">Dark</span>
        </div>

        <div class="mobile-menu__burger">
            <button type="button" class="mobile-menu__burger-btn">
                <svg class="mobile-menu__open-icon" width="30" height="16">
                    <use href="/src/images/svgs.svg#icon-burger_menu"></use>
                </svg>
            </button>
        </div>


<!-- мобильное меню -->

        <div class="mobile-menu">

            <div class="header-switcher">
                <span class="header-switcher__item-light">Light</span>
                <label class="header-switcher__switch">
                    <input type="checkbox">
                    <span class="header-switcher__slider round"></span>
                </label>
                <span class="header-switcher__item-dark">Dark</span>
            </div>

            <button type="button" class="mobile-menu__close-btn">
                <svg class="mobile-menu__close-icon" width="32" height="32">
                    <use href="/src/images/svgs.svg#icon-close-line"></use>
                </svg>
            </button>

            <form class="form-submit">
                <input class="form-submit__input" type="text" placeholder="Search">
                <button class="form-submit__button" type="submit">
                    <svg class="logo__svg" width="24" height="24">
                        <use href="/src/images/svgs.svg#icon-bx_search"></use>
                    </svg>
                </button>
            </form>
        
            <div class="site-nav-mobile">
                <ul class="site-nav-mobile__list list">
                    <li class="site-nav-mobile__item"><a href="" class="site-nav-mobile__link link">Home</a></li>
                    <li class="site-nav-mobile__item">Favorite
                            <svg class="site-nav-mobile__arrow" width="24" height="24">
                                <use href="/src/images/svgs.svg#icon-arrow-up"></use>
                            </svg>
                        <ul>
                            <li class="ite-nav-mobile__favorite"><a href="" class="site-nav__link">Favorite cocktails</a></li>
                            <li class="ite-nav-mobile__favorite"><a href="" class="site-nav__link">Favorite ingredients</a></li>
                        </ul>
                    </li>
                </ul>
            </div>


        </div>


    </div>
</header>