<header class="page-header">

    <div class="container page-header__container">       
            <a href="./" class="header_logo">
                <img src="/src/images/logo.png" alt="logo" class="logo_image">
            </a>

        <nav class="header__nav">
            <a href="./" class="site-nav__link">Home</a>
                    <p class="site-nav__item">Favorite
                       <ul class="site-nav__favorites nav__links ">
                           <li class="site-nav__item-menu"><a href="./partials/fav-cocktails.html" class="site-nav__link-menu">Favorite cocktails</a></li>
                           <li class="site-nav__item-menu"><a href="./partials/fav-ingredients.html" class="site-nav__link-menu">Favorite ingredients</a></li>
                      </ul>
                    </p>
                </ul>
        </nav>

        <form class = "form-submit">
            <button class="form-submit__button" type="submit">
                    <svg class="logo__svg" width="24px" height="24px">
                        <use href="/src/images/svgs.svg#icon-bx_search"></use>
                    </svg>
            </button>
            <div class="line"></div>

            <input class="form-submit__input" name="searchCocktailName" type="text" placeholder="Search">



            
        </form>
        
        <!-- log in -->
        <div class="signup">
        <button class="signup__btn signup__btn--desktop" data-tooltip="name" type="button">
            <img class="signup__image" width="32px" height="32px" alt="username" src="/src/images/authorization.svg">
            </img> </button>
         <div class="signup-greeting">
            <p class="signup-greeting__text">Hello $name</p>
            <button class="signup-greeting__logout">Log out</button>
             
         </div></div>

        


        <div class="header-switcher ">
            <span class="header-switcher__item-light ">Light</span>
            <label class="header-switcher__switch">
                <input  type="checkbox" class="header-switcher__input">
                <span class="header-switcher__slider round"></span>
            </label>
            <span class="header-switcher__item-dark">Dark</span>
        </div>

        <div class="mobile-menu__burger">
            <button type="button" class="mobile-menu__burger-btn">
                <svg class="mobile-menu__open-icon" width="30" height="16">
                    <use href="/src/images/svgs.svg#icon-burger_menu"></use>
                </svg>
            </button>
        </div>


<!-- мобильное меню -->

        <div class="mobile-menu ">

            
            <a href="./" class="header_logo-mobile">
                <img src="/src/images/logo.png" alt="logo" class="logo_image">
            </a>

            <button type="button" class="mobile-menu__close-btn">
                <svg class="mobile-menu__close-icon" width="32" height="32">
                    <use href="/src/images/svgs.svg#icon-close-line"></use>
                </svg>
            </button>

            <div class="header-switcher mobile ">
                <span class="header-switcher__item-light ">Light</span>
                <label class="header-switcher__switch">
                    <input  type="checkbox" class="header-switcher__input">
                    <span class="header-switcher__slider round"></span>
                </label>
                <span class="header-switcher__item-dark">Dark</span>
            </div>

            

           

            <form class="form-submit mobile">
                <button class="form-submit__button" type="submit">
                    <svg class="logo__svg" width="24px" height="24px">
                        <use href="/src/images/svgs.svg#icon-bx_search"></use>
                    </svg>
                </button>
                <div class="line"></div>
                <input class="form-submit__input" type="text" name="searchCocktailName" placeholder="Search">
            
            </form>

            
        
            <div class="site-nav-mobile ">
        
                    <a href="./" class="site-nav-mobile__link link">Home</a>
                    <p class="site-nav-mobile__item">Favorite
                            <svg class="site-nav-mobile__arrow" width="24" height="24">
                                <use href="/src/images/svgs.svg#icon-arrow-up"></use>
                            </svg>
                            <ul class="site-nav__favorites nav__links mobile site-nav__favorites-mobile">
                                <li class="site-nav__item-menu"><a href="./partials/fav-cocktails.html" class="site-nav__link-menu">Favorite cocktails</a></li>
                                <li class="site-nav__item-menu"><a href="./partials/fav-ingredients.html" class="site-nav__link-menu">Favorite ingredients</a></li>
                            </ul>
                    </p>
                </ul>
            </div>

            

        </div>


    </div>
</header>