<div class="cocktails__backdrop cocktails__backdrop--position is-hidden second-modal">
      <div class="cocktails-modal cocktails-modal--size">
        <button class="cocktails-modal__close-btn" type="button">
          <svg class="cocktails-modal__btn-icon" height="32" width="32">
            <use href="./images/svgs.svg#close-btn"></use>
          </svg>
        </button>
        <div class="cocktails-modal__header">
        <h3 class="cocktails-modal__title">Campari</h3>
        <p class="cocktails-modal__subtitle">Liqueur</p>
        </div>
        <div class="cocktails-modal__body">
        <p class="cocktails-modal__text-content cocktails-modal__text-content--font"><span class="cocktails-modal__text-modification">Campari</span> is an Italian alcoholic liqueur, considered an apéritif (20.5%, 21%, 
            24%, 25%, or 28.5% ABV, depending on the country in which it is sold), obtained from the infusion of herbs and fruit 
            (including chinotto and cascarilla) in alcohol and water. It is a bitters, characterised by its dark red colour.</p>
          <ul class="cocktails-modal__list cocktails-modal__list--size">
            <li class="cocktails-modal__list-item-ingr">Type:	Bitters</li>
            <li class="cocktails-modal__list-item-ingr">Country of origin:	Italy</li>
            <li class="cocktails-modal__list-item-ingr">Alcohol by volume:	20.5–28.5%</li>
            <li class="cocktails-modal__list-item-ingr">Flavour:	Bitter, spicy and sweet</li>
          </ul>
          <button class="cocktails-modal__main-btn">Add to favorite</button>
          </div>
      </div>
    </div>
