       <button open-modal>
  Launch demo modal
</button>

<div class="cocktails__backdrop is-hidden modal">
      <div class="cocktails-modal cocktails-modal--padding">
        <button class="cocktails-modal__close-btn" type="button" data-modal-close>
          <svg class="cocktails-modal__btn-icon" height="32" width="32">
            <use href="./images/svgs.svg#close-btn"></use>
          </svg>
        </button>
        <h3 class="cocktails-modal__title cocktails-modal__list-wrapper">Negroni</h3>
        <div class="cocktails-modal__content-wrapper">
        <p class="cocktails-modal__subtitle">Instractions:</p>
        <p class="cocktails-modal__text-content">Add the gin, Campari and sweet vermouth to a mixing glass filled with ice, 
          and stir until well-chilled. Strain into a rocks glass filled with large ice cubes. Garnish with an orange peel.</p>
          </div>
          <div class="cocktails-modal__thumb">
            <img class="cocktails-modal__thumb-img" src="./images/ACID.jpg" alt="">
          </div>
          <div class="cocktails-modal__list-wrapper">
          <p class="cocktails-modal__list-title">INGREDIENTS</p>
          <p class="cocktails-modal__list-subtitle">Per cocktail</p>
          <ul class="cocktails-modal__list">
            <li class="cocktails-modal__list-item"><a class="cocktails-modal__list-link modal-ingredients" href="">Ice</a></li>
            <li class="cocktails-modal__list-item"><a class="cocktails-modal__list-link modal-ingredients" href="">1 ounce gin</a></li>
            <li class="cocktails-modal__list-item"><a class="cocktails-modal__list-link modal-ingredients" href="">1 ounce Campari</a></li>
            <li class="cocktails-modal__list-item"><a class="cocktails-modal__list-link modal-ingredients" href="">1 ounce sweet vermouth</a></li>
            <li class="cocktails-modal__list-item"><a class="cocktails-modal__list-link modal-ingredients" href="">Garnish: orange peel</a></li>
          </ul>
          </div>
              <div class="cocktails-modal__content-second-wrapper">
        <p class="cocktails-modal__subtitle">Instractions:</p>
        <p class="cocktails-modal__text-content">Add the gin, Campari and sweet vermouth to a mixing glass filled with ice, 
          and stir until well-chilled. Strain into a rocks glass filled with large ice cubes. Garnish with an orange peel.</p>
          </div>
          <button class="cocktails-modal__main-btn">Add to favorite</button>
      </div>
    </div>
    <script>
        const btnRef = document.querySelector('button[open-modal]');
const modalRef = document.querySelector('.modal');
const bodyRef = document.querySelector('body');
const linkBtn = document.querySelector('.modal-ingredients')

btnRef.addEventListener("click", openModal);

function openModal(e) {
    modalRef.classList.remove("is-hidden");
    linkBtn.addEventListener('click', e => {
  // определяем, что клик произошёл на ссылке
  if (e.target.nodeName === 'A') {
    // отменяем переход по ссылке
      e.preventDefault()
      const modal = document.querySelector(".second-modal")
    modal.classList.remove("is-hidden");
  }
})
}
    </script>
