       <!-- <button type="button" data-modal-open>
  Launch demo INGREDIENTS
</button>
    <div class="cocktails__backdrop is-hidden" data-modal>
      <div class="cocktails-modal">
        <button class="cocktails-modal__close-btn" type="button" data-modal-close>
          <svg class="cocktails-modal__btn-icon" height="32" width="32">
            <use href="./images/svgs.svg#close-btn"></use>
          </svg>
        </button>
        <h3 class="cocktails-modal__title">Campari</h3>
        <p class="cocktails-modal__subtitle">Liqueur</p>
        <p class="cocktails-modal__text-content cocktails-modal__text-content--font"><span class="cocktails-modal__text-modification">Campari</span> is an Italian alcoholic liqueur, considered an apéritif (20.5%, 21%, 
            24%, 25%, or 28.5% ABV, depending on the country in which it is sold), obtained from the infusion of herbs and fruit 
            (including chinotto and cascarilla) in alcohol and water. It is a bitters, characterised by its dark red colour.</p>
          <ul class="cocktails-modal__list">
            <li class="cocktails-modal__list-item"><a class="cocktails-modal__list-link" href="">Type:	Bitters</a></li>
            <li class="cocktails-modal__list-item"><a class="cocktails-modal__list-link" href="">Country of origin:	Italy</a></li>
            <li class="cocktails-modal__list-item"><a class="cocktails-modal__list-link" href="">Alcohol by volume:	20.5–28.5%</a></li>
            <li class="cocktails-modal__list-item"><a class="cocktails-modal__list-link" href="">Flavour:	Bitter, spicy and sweet</a></li>
          </ul>
          <button class="cocktails-modal__main-btn">Add to favorite</button>
      </div>
    </div>
    <script type="module">
        (() => {
  const refs = {
    openModalBtn: document.querySelector("[data-modal-open]"),
    closeModalBtn: document.querySelector("[data-modal-close]"),
    modal: document.querySelector("[data-modal]"),
  };

  refs.openModalBtn.addEventListener("click", toggleModal);
  refs.closeModalBtn.addEventListener("click", toggleModal);

  function toggleModal() {
    refs.modal.classList.toggle("is-hidden");
  }
})();
    </script> -->