<div class="container">
  <div class="header__container">
    <a href="./" class="logo">
      COCKTAILS
      <svg class="logo__svg">
        <use></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="./" class="nav__link">Home</a></li>
        <li class="nav__item">
          <a href="./" class="nav__link"
            >Favorite

            <ul class="nav__list--favorite">
              <li class="nav__item--favorite">
                <a href="./" class="nav__link--favorite">Favorite cocktails</a>
              </li>
              <li class="nav__item--favorite">
                <a href="./" class="nav__link--favorite"
                  >Favorite ingredients
                </a>
              </li>
            </ul>
          </a>
        </li>
      </ul>
    </nav>

    <form action="./" class="form-search js-form-search">
      <button class="form-search__btn" type="submit">s</button
      ><label for="" class="form-search__label"
        ><input
          name="searchinput"
          type="text"
          class="form-search__input"
          placeholder="Search"
      /></label>
    </form>

    <label for="" class="page-theme__label"
      ><input type="checkbox" class="page-theme__input" /> theme</label
    >
  </div>
</div>
<div class="container">
  <h1 class="banner__title">A party without cocktails is not like a party</h1>
  <h3 class="banner__subTitle">Search your favorite cocktail by ABC</h3>
  <ul class="letters__list">
    <li class="letters__item"><a href="#" class="letters__link">a</a></li>
    <li class="letters__item"><a href="#" class="letters__link">b</a></li>
    <li class="letters__item"><a href="#" class="letters__link">c</a></li>
    <li class="letters__item"><a href="#" class="letters__link">d</a></li>
    <li class="letters__item"><a href="#" class="letters__link">p</a></li>
    <li class="letters__item"><a href="#" class="letters__link">m</a></li>
    <li class="letters__item"><a href="#" class="letters__link">h</a></li>
    <li class="letters__item"><a href="#" class="letters__link">1</a></li>
    <li class="letters__item"><a href="#" class="letters__link">9</a></li>
    <li class="letters__item"><a href="#" class="letters__link">6</a></li>
  </ul>

  <div class="products">
    <div class="products__trands">
      <h3 class="products__title js-products__title"></h3>
      <ul class="products__list js-product__list"></ul>
    </div>
  </div>
</div>