.fav-ingredients {
  text-align: center;
  padding-top: 40px;
  &__title {
    margin-bottom: 60px;

    color: $secondary-dark-text-color;

    body.dark & {
      color: white;
    }

    @include font($size: 22px, $line: 42px, $weight: 600);
    @media screen and(min-width:$tablet) {
      font-family: 'Roboto';
      @include font($size: 32px, $line: 42px, $weight: 700);
    }
    @media screen and(min-width:$desktop) {
      font-family: 'Poppins';
      @include font($size: 48px, $line: 72px, $weight: 700);
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;

    @media screen and(min-width:$tablet) {
      gap: 32px;
    }
  }

  &__item {
    padding: 20px;
    border: 1px solid $accent-color;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    text-align: start;
    @media screen and(min-width:$tablet) {
      width: calc((100% - 32px) / 2);
    }
    @media screen and(min-width:$desktop) {
      width: calc((100% - 64px) / 3);
    }

    &:nth-child(odd) {
      animation: fadeInRight;
      animation-duration: 400ms;
    }

    &:nth-child(even) {
      animation: fadeInLeft;
      animation-duration: 400ms;
    }
  }

  &__card-title {
    margin-bottom: 16px;
    color: $secondary-dark-text-color;
    body.dark & {
      color: white;
    }
    font-family: 'Roboto';
    @include font($size: 26px, $line: 42px, $weight: 900);
  }
  @media screen and(min-width:$tablet) {
    margin-bottom: 23px;
    @include font($size: 28px, $line: 33px, $weight: 900);
  }
  @media screen and(min-width:$desktop) {
    margin-bottom: 27px;
    @include font($size: 32px, $line: 38px, $weight: 900);
  }

  &__desc {
    margin-bottom: 20px;
    color: $secondary-dark-text-color;
    body.dark & {
      color: white;
    }
    text-transform: uppercase;
    @include font($size: 14px, $line: 21px, $weight: 600);
    @media screen and(min-width:$tablet) {
      margin-bottom: 28px;
      @include font($size: 16px, $line: 24px, $weight: 600);
    }
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  @media screen and(min-width:$tablet) {
    margin-bottom: 20px;
  }
  @media screen and(min-width:$desktop) {
    margin-bottom: 28px;
  }
}

.fav-notFound__box {
  margin: 0 auto;
}

.fav-notFound__message {
  font-family: 'Poppins';

  width: 240px;
  @include font(20px, 60px, 400);

  @include tablet-media {
    @include font(24px, 60px, 400);
    width: 296px;
  }
  @include desktop-media {
    width: 385px;
    @include font(32px, 72px, 400);
  }
}

.fav-height {
  min-height: calc(100vh - 424px);
}
