@media screen and (max-width: 767px) {}

   




 @media screen and (min-width: 768px) {


 .page-header__container {
     justify-content: space-between;
     align-items: flex-end;
     display: flex;
     position: relative;
 }


}