#tui-pagination-container {
  padding: 40px;
  margin: 14px 0 12px;
  margin-bottom: 60px;
  line-height: normal;
  text-align: center;
  font-size: 0;
  /* @media screen and (min-width: 320px) and (max-width: 767px) {
    padding: 0;
    margin-bottom: 40px;
  } */

  & .tui-page-btn {
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    padding: 10px 0 6px;
    margin-left: 8px;
    color: #1e1e1e;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    border: 1px solid #fe7031;
  }

  & .tui-prev-is-ellip,
  & .tui-next-is-ellip {
    border: transparent;
  }

  & .tui-first,
  & .tui-last {
    display: none;
  }

  & .tui-ico-ellip {
    height: 20px;
    width: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fe7031;
    margin-bottom: 8px;
  }

  & .tui-prev,
  & .tui-next {
    position: relative;
    border: transparent;
    margin: auto;
    cursor: pointer;
  }

  & .tui-ico {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* @media screen and (max-width: 767px) {
  #tui-pagination-container .tui-page-btn {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    padding: 7px 0 3px;
    margin-left: 5px;
    color: var(--footer-text-color);
    font-size: 8px;
    font-weight: normal;
    line-height: 0.5;
    vertical-align: middle;
    border: 1px solid var(--footer-background-color);
    border-width: 0.5px 0;
  }
} */

  & .tui-is-selected,
  & strong {
    color: #fff;
    background: #fe7031;
    border: 1px solid #fe7031;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.105);
    cursor: default;
    transform: scale(1.2);
  }

  & .tui-is-selected:hover {
    background-color: #ff6b08;
  }
  & .tui-is-disabled {
    fill: #5f6775;
  }
}
