.container {
}
.banner__title {
}
.banner__subTitle {
}
.letters__list {
  display: flex;
  list-style: none;
}
.letters__item {
  margin-right: 20px;
}
.letters__link {
  font-size: 15px;
  &:focus {
    text-decoration: none;
  }
}
.products {
}
.products__trands {
}

.products__title {
}
.products__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}
.js-product__list {
}
.products__item {
}
.products__name {
  font-size: 8px;
}
.products__img {
  width: 100px;
}
.products__btns {
}
.products__btn--info {
}
.products__btn--add {
}

.product-info__container {
  display: flex;
}
.product-info__title {
  width: 150px;
}
.products__search {
}
